body
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-content: center;
}
table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
h1
{
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
}
th, td
{
    padding: 100px;
    border-radius: 25px;
}
p
{
    font-size: 120%;
}
h2
{
    font-size: 150%;
    font-weight: bold;
    margin: 0.67em 0;
}
th
{
    font-weight: bold;
}